
.game-wrapper{
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
}


#char{
  background: url("https://opengameart.org/sites/default/files/export_move.gif") center center no-repeat;
  background-size: cover;
  border-radius: 100%;
  top:0px;
  left:0px;
}

.enemy{
  background: url("https://media.giphy.com/media/Mvi1ZqG17NSso/source.gif") center center no-repeat;
  background-size: cover;
  top:0px;
  left:0px;
}
